header, nav, main, footer 
{	margin: 0;}

header
{	margin-top: 200px;
	margin-bottom: 200px;}

.homeimage 
{ 	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 20%;
	height: 20%;}

body.home{}
body.about{}
body.powder{color:orange;

	background-color: red;}



.circle
{border-radius: 50%}


h1
{ 	background-color: ;
	color: #414042;
	min-height: 100px;
	font-size:80px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	text-transform:uppercase;}

h2
{	background-color: #006838;
	color: white;
	display: block;
	min-height: 100px;
	font-size:80px;
	font-family: 'Comfortaa', cursive;
	text-align: left;
	text-transform:lowercase;
	margin-top: 0px;
  	margin-bottom: 100px;
  	margin-right: 80px;
  	margin-left: 0px;}




a 
{	text-decoration: underline 4px grey;}

nav ul
{
	list-style-type: none;
	text-align: center;
	font-family: 'Comfortaa', cursive;}

nav li 
{
	display: inline-block;
	margin: 20px;}

.home{color:grey;}
.about{color:#006838;}
.powder{color:#F7941D;}
.freestyle{color:#EE2A7B;}
.split{color:#1B75BC;}

p
	{font-family:'Comfortaa';
	font-size:15px;
	text-align:left;
	margin-left:50px;
	margin-right:80px;
	margin-top:60px;
	line-height: 2em;
	color: black;}









