

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    background: #000;

}

#go {
    width:400px;
    height:400px;
    text-align: center;
    color:white;
    cursor: pointer;
    background-color: green;
    margin:auto;
    border-radius: 50%;



}

#canvas {
    position:absolute;
    width:100%;
    height:600px;
}





header {;
    text-align: center;
    z-index: 10;
}

h1 {
    margin: 100px auto 0;
    color:white;
    font-size:80px;
    font-family: 'Oxygen', sans-serif;
    font-weight:bold;
    line-height:80px;
    letter-spacing: 1px;
    cursor:default;

    }

h2 {
    color:white;
    font-size:24px;
    font-family:serif;
    text-align: center;
    font-weight: lighter;
    margin-top:4vw;
    padding-left:100px;
    padding-right:100px;
    line-height: 1.5;
    margin-left:auto;
    margin-right:auto;
    z-index:10;
}



.logo{
    background-color:none;
    padding-left:20px;
    margin-top:-200px;
    }


nav {
    color:white;
    position:fixed;
}


ul { 
  margin: 10px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 500px;
  text-align: center;

}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-family: 'Oxygen', sans-serif;
  font-weight:medium;
  font-size:14px;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}



ul.about-list 
{	color:black;
	list-style-type: circle;
	text-decoration: none;
	font-family:'Comfortaa';
	font-size:12px;
	text-align:left;
	line-height: 2em;
	text-align:justify;}

ul.about-list  li 
{	margin-left:250px;
	margin-top:20px;
	margin-right:250px;}

.homeimage 
{ 	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 20%;
	height: 20%;}

.about_circle1
{	height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .about_circle1
 {	margin-left:30px;}

 
 .powder_circle1
 {	height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

  .powder_circle1
 {	margin-left:150px;
  	margin-bottom:100px;}

  .powder_circle2
 {	width: 200px; 
 	height: 200px;
  	float: left;
  	margin-right:2rem; 
  	border-radius: 50%;
  	-webkit-shape-outside:circle();
  	shape-outside:circle()}

  .powder_circle2
 {	margin-left:5px;
  	margin-top:150px;}

  .powder_circle3
 {	height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

  .powder_circle3
{	margin-left:-325px;
  	margin-top:300px;}

  .powderpageparagraph
{	margin-left:710px;
	margin-right:100px;
	text-align:left;
	padding-top:100px;
    font-family: 'Quicksand', sans-serif;}


.freestyle_circle1
{	height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .freestyle_circle1
 {	margin-left:150px}

.freestyle_circle2
{	height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

.freestyle_circle3
{	height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .freestylepageparagraph
 {	padding-top:300px;
 	margin-left:150px;
 	margin-right:150px;
    font-family: 'Quicksand', sans-serif;}

 .split_circle1
 {	height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: auto;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .split_circle1
 {	margin-right:400px;
 	margin-top:50px;}

 .split_circle2
 {	height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: auto;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .split_circle2
 {  margin-right:400px;
 	margin-top:30px;}

.split_circle3
{	height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: auto;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .split_circle3
 {  margin-right:400px;
 	margin-top:30px;}

.splitparagraph
 {  padding-top:70px;
 	margin-left:315px;
 	margin-right:600px;
 	text-align:right;
 	line-height:1.5em;
 	color:black;
    font-family:  'Quicksand', sans-serif;}


.orange{color:#F7941D;}
.pink{color:#EE2A7B;}
.blue{color:#1B75BC;}













