header, nav, main, footer 
{	margin: 0;}

header
{	margin-top: 200px;
	margin-bottom: 200px;}



.circle
{border-radius: 50%}



h2
{	background-color: #EE2A7B;
	color: white;
	display: block;
	min-height: 100px;
	min-width: 100px;
	font-size:80px;
	font-family: 'Comfortaa', cursive;
	text-align: left;
	text-transform:lowercase;
	margin:0;}




a 
{	text-decoration: underline 4px grey;}

nav ul
{
	list-style-type: none;
	text-align: right;
	font-family: 'Comfortaa', cursive;}

nav li 
{
	display: inline;
	margin-left: 10px;
	margin-top:0px;}

.home{color:blue;}
.about{color:blue;}
.powder{color:blue;}
.freestyle{color:blue;}
.split{color:blue;}

p
	{font-family:'Comfortaa';
	font-size:15px;
	text-align:left;
	margin-left:50px;
	margin-right:80px;
	margin-top:60px;
	line-height: 2em;
	color: black;}









